@import "../../scss/abstracts/variables";

.catalog {

  &__nav {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__nav-item {
    text-transform: uppercase;
    color: $color-primary-dark;
    transition: 0.3s all;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      color: $color-grey-light;
      background-color: $color-primary-dark;
    }
  }

  &__nav-item--active {
    text-transform: uppercase;
    transition: 0.3s all;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
    color: $color-grey-light;
    background-color: $color-primary-dark;
  }
}
