@import "../../scss/abstracts/variables";

.home {
  &__section {
    background-color: $color-grey-light ;
    height: calc(100vh - 8rem);
    display: grid;
    grid-template-columns: 40% 60%;
  }

  &__text-container{
    grid-column: 1 / 2;
    padding-left: 14rem;
    padding-top: 4rem;
  }

  &__image-container{
    grid-column: 2 / 3;
    height: 50rem;
    position: relative;

    img {
      height: 100%;
      position: absolute;
      left: 25rem
    }
  }

  &__cta {
    display: block;
    margin: 5rem auto;
    width: 25rem;
    padding: 1em 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 3rem;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: $color-primary-dark;
    transition: .3s all;
    color: $color-white;

    &:hover {
    background-color: $color-primary;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &:active, 
    &:focus
     {
      outline: none;
    }
  }

}