<section class="home__section">

  <div class="home__text-container">
    <h1 class="heading-primary"> Best coffees in the world</h1>
    <h3 class="heading-sub"> Our coffees have remained loyal to the tradition of fine coffee, with the highest quality origins and thoroughly roasted using a traditional method. </h3>
    <button routerLink="/products" class="home__cta"> Discover our coffees</button>
  </div>

  <div class="home__image-container">
    <img src="../../assets//homepage.svg" alt="homepage img">
  </div>
</section>