<div class="navigation">
  <a routerLink="/">
    <div class="navigation__logo-box">
      <img src="../../assets/logo.png" alt="logo" class="navigation__logo" />
    </div>
  </a>


  <ul class="navigation__list">
    <li class="navigation__item">
      <a routerLink="/products" class="navigation__link"> Our coffees </a>
    </li>

    <li class="navigation__item">
      <a routerLink="/" class="navigation__link"> Shopping Cart </a>
    </li>

    <li
      class="navigation__item navigation__item--right"
      *ngIf="authenticationService.user$ | async as user; else noUser"
    >
      <div class="navigation__dropdown">
        <p class="navigation__link navigation__toggle">
          {{ user.displayName }}
        </p>
        <div class="navigation__dropdown-content">
          <a routerLink="/admin/products" class="navigation__dropdown-link"> Manage Products </a>
          <a class="navigation__dropdown-link" (click)="logout()"> Logout </a>
        </div>
      </div>
    </li>

    <ng-template #noUser>
      <li class="navigation__item navigation__item--right">
        <a routerLink="/login" class="navigation__link"> Login </a>
      </li>
    </ng-template>
  </ul>
</div>
