<section class="products__form-section">
  <a routerLink="/admin/products/new"> Create a new Product </a>


  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products$ | async ">
        <td> {{product.payload.val().title}} </td>
        <td> {{product.payload.val().price}} </td>
        <td> <a [routerLink]="['/admin/products/', product.key]">Edit</a>
           </td>

      </tr>
    </tbody>
  </table>
</section>


