<section class="form__section">
  <h2 class="heading_secondary">{{ titleForm }}</h2>
  <form
    #productForm="ngForm"
    (ngSubmit)="save(productForm.value)"
    class="form__group"
  >
    <div class="form__input-group">
      <label for="title" class="form__label">Title</label>
      <input
        #title="ngModel"
        [(ngModel)]="product.title"
        name="title"
        type="text"
        class="form__input-field"
        id="title"
        required
      />
      <div class="form__alert" *ngIf="title.touched && title.invalid">
        Title is required
      </div>
    </div>

    <div class="form__input-group">
      <label for="price" class="form__label">Price</label>
      <input
        #price="ngModel"
        [(ngModel)]="product.price"
        name="price"
        type="number"
        class="form__input-field"
        id="price"
        required
      />
      <div class="form__alert" *ngIf="price.touched && price.invalid">
        Price is required
      </div>
    </div>

    <div class="form__input-group">
      <label for="category" class="form__label">Category</label>
      <select
        #category="ngModel"
        [(ngModel)]="product.category"
        name="category"
        id="category"
        class="form__input-field"
        required
      >
        <option value="">Choose a category</option>
        <option
          *ngFor="let category of categories$ | async"
          [value]="category.key"
        >
          {{ category.name }}
        </option>
      </select>
      <div class="form__alert" *ngIf="category.touched && category.invalid">
        Category is required
      </div>
    </div>

    <div class="form__input-group">
      <label for="imageURL" class="form__label">Image URL</label>
      <input
        required
        #imageURL="ngModel"
        type="text"
        [(ngModel)]="product.imageURL"
        name="imageURL"
        class="form__input-field"
        id="imageURL"
      />
      <div class="form__alert" *ngIf="imageURL.touched && imageURL.invalid">
        ImageURL is required
      </div>
    </div>
    <button class="form__button" [disabled]="productForm.invalid">Save</button>
    <button *ngIf="id != null" type="button" class="form__button form__button--delete" (click)="delete()">Delete</button>
  </form>
</section>
