// COLORS

$color-primary: #a63d40;
$color-primary-dark: #69140e;

$color-grey-light: #F6F6F3;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// SHADOW
$shadow-light: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);