// COLORS

$color-primary: #a63d40;
$color-primary-dark: #69140e;

$color-secondary: #283845;
$color-secondary-dark: #202c39;
$color-secondary-light: #3b5169;


$color-blue: #4C8BF5;
$color-blue-dark: #447ad8;


$color-grey-light: #f6f6f3;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// SHADOW
$shadow-light: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
